

body{
    padding-top: 136px;
    font-family: Arial, Helvetica, sans-serif;
}

/*NAV*/

.fix{
    position: fixed;
    width: 100%;
     top: 0;
     left: 0;
     font-family: Helvetica;
}

.sony{
    height: 60px;
    background-color: #000;
}

/*LOGO*/

.logo{
    width: 100px;
    height: 40px;
}

.logo-1{
    width: 25px;
    height: 25px;
}
    
.logo-3{
    width:50%;
}

.logo-4{
    width: 90px;
    height: 90px;
}

/*BUTTON*/

.bt{
    border-radius: 59px;
}

.bt-w{
    background-color: rgba(255,255,255, .5);
    border-color: rgba(255,255,255, .5);
}

.m{
    margin: 3px 0;
}


/*HEADER*/


.big-img{
    max-width: 100%;
    height: 600px;
    background-position: center top ;
}

/*JUMBO*/

.jumbo-1{
    background-image: url(./img/jumbo-bg.png);
}

.jumbo-2{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbo-3{
    background-color: #bebcbb;
    height: 500px;
    width: 100%;
}

.jumbo-4{
    background-color:#101635 ;
    height: 500px;
    max-width: 100%;
}


/*SECTION*/

.sec-2{
    text-align: center;
}
 
.sec-5{
    background-color: rgb(49, 50, 53);
    display: flex;
    justify-content: center;
}

.pic img{
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 20px;   
}

.pic{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.pic-3{
    width: auto;
    height: 500px ;
    object-position: top;
    object-position: right;
}

.social{
    max-width: 540px;
    margin: 0 auto;
}

.album{
    max-width: 1140px;
}


/*HOVER*/

.ghost-1{
    border: 2px solid transparent;
    outline: 2px transparent solid;
}
.ghost-1:hover{
    border: 2px #fff solid;
    outline: 2px #000 solid;
}

.ghost-2{
    border: 2px solid transparent;
    outline: 2px transparent solid;
}

.ghost-2:hover{
    border: 2px #fff solid;
    outline: 2px #0d6efd solid ;
}


.ghost-3{
    border: 2px solid transparent;
    outline: 2px transparent solid;
}
.ghost-3:hover{
    border: 2px #000 solid;
    outline: 2px #fff solid;
}

.ghost-4{
    border: 2px solid transparent;
    outline: 2px transparent solid;
}
.ghost-4:hover{
    border: 2px #000 solid;
    outline: 2px #dc3545 solid;
}


.ghost{  
    border-bottom: 2px transparent solid;
    filter: grayscale(1);
    color:darkgrey;
}

.ghost:hover{
    border-bottom: 2px #0d6efd solid;
    filter: none;
    color: #000;
}

/*FOOTER*/

footer{
    width: 100%;
    height:auto;
    background-color: #00439c;
    color: #fff;
    font-size: 13px;
    padding: 70px 70px;
    display: flex;
    justify-content: center;
}

.foot li{
    list-style: none;
}







