


/*NAV*/

.fix{
    position: fixed;
    width: 100vw;
    font-style: helvetica;
}

.sony{
    height: 60px;
    background-color: #000;
}



/*UTILITIES*/

.logo{
    width: 100px;
    height: 40px;
}

.logo-1{
    width:20px;
    height: 20px;
}

/*BUTTON*/

.bt{
    border-radius: 59px;
}

/*HEADER*/

.big-img{
    padding-top: 136px;
    max-width: 100%;
    height: auto;
}

/*SECTION*/


.sec-1 img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.sec-2{
    text-align: center;
}
 



